[submodule "Steamodded"]
	path = Steamodded
	url = https://github.com/Steamopollys/Steamodded
[submodule "Mods/Steamodded"]
	path = Mods/Steamodded
	url = https://github.com/Steamopollys/Steamodded
[submodule "Mods/balatro-safety-steamodded"]
	path = Mods/balatro-safety-steamodded
	url = https://github.com/Zei33/balatro-safety-steamodded
[submodule "Mods/blank-jokers"]
	path = Mods/blank-jokers
	url = https://github.com/Dimserene/blank-jokers
[submodule "Mods/Bettma_mods"]
	path = Mods/Bettma_mods
	url = https://github.com/Dimserene/Bettma_mods
[submodule "Mods/Bunco"]
	path = Mods/Bunco
	url = https://github.com/Firch/Bunco
[submodule "Mods/Codex-Arcanum"]
	path = Mods/Codex-Arcanum
	url = https://github.com/Dimserene/Codex-Arcanum
