[submodule "Mods/Steamodded"]
	path = Mods/Steamodded
	url = https://github.com/Steamopollys/Steamodded
[submodule "Mods/balatro-safety-steamodded"]
	path = Mods/balatro-safety-steamodded
	url = https://github.com/Zei33/balatro-safety-steamodded
[submodule "Mods/blank-jokers"]
	path = Mods/blank-jokers
	url = https://github.com/Dimserene/blank-jokers
[submodule "Mods/Bunco"]
	path = Mods/Bunco
	url = https://github.com/Firch/Bunco
[submodule "Mods/Codex-Arcanum"]
	path = Mods/Codex-Arcanum
	url = https://github.com/Dimserene/Codex-Arcanum
[submodule "Mods/Cryptid"]
	path = Mods/Cryptid
	url = https://github.com/MathIsFun0/Cryptid
[submodule "Mods/D6-Jokers"]
	path = Mods/D6-Jokers
	url = https://github.com/GauntletGames-2086/D6-Jokers
[submodule "Mods/Balatro-DeckCreator"]
	path = Mods/Balatro-DeckCreator
	url = https://github.com/adambennett/Balatro-DeckCreator
[submodule "Mods/Betmma_mods"]
	path = Mods/Betmma_mods
	url = https://github.com/Dimserene/Betmma_mods
[submodule "Mods/DX-Tarots"]
	path = Mods/DX-Tarots
	url = https://github.com/Dimserene/DX-Tarots
[submodule "Mods/LunasBalatroMods"]
	path = Mods/LunasBalatroMods
	url = https://github.com/LunaAstraCassiopeia/LunasBalatroMods
[submodule "Mods/Fusion-Jokers"]
	path = Mods/Fusion-Jokers
	url = https://github.com/itayfeder/Fusion-Jokers
[submodule "Mods/MystMods"]
	path = Mods/MystMods
	url = https://github.com/Dimserene/MystMods
[submodule "Mods/JankJonklers"]
	path = Mods/JankJonklers
	url = https://github.com/spikeof2010/JankJonklers
[submodule "Mods/Jestobiology"]
	path = Mods/Jestobiology
	url = https://github.com/spikeof2010/Jestobiology
[submodule "Mods/Jimbo-s-Pack"]
	path = Mods/Jimbo-s-Pack
	url = https://github.com/art-muncher/Jimbo-s-Pack
[submodule "Mods/Joker-Evolution"]
	path = Mods/Joker-Evolution
	url = https://github.com/Dimserene/Joker-Evolution
[submodule "Mods/LobotomyCorp"]
	path = Mods/LobotomyCorp
	url = https://github.com/Mysthaps/LobotomyCorp
[submodule "Mods/MathBlinds"]
	path = Mods/MathBlinds
	url = https://github.com/Bazinga9000/MathBlinds
[submodule "Mods/MikasBalatro"]
	path = Mods/MikasBalatro
	url = https://github.com/Dimserene/MikasBalatro
[submodule "Mods/MystBlinds"]
	path = Mods/MystBlinds
	url = https://github.com/Mysthaps/MystBlinds
[submodule "Mods/NeowBlessings"]
	path = Mods/NeowBlessings
	url = https://github.com/kjossul/NeowBlessings
[submodule "Mods/balatro-NotJustYet"]
	path = Mods/balatro-NotJustYet
	url = https://github.com/Toneblock/balatro-NotJustYet
[submodule "Mods/Ortalab-DEMO"]
	path = Mods/Ortalab-DEMO
	url = https://github.com/GauntletGames-2086/Ortalab-DEMO
	branch = test
[submodule "Mods/Ro-Balatro"]
	path = Mods/Ro-Balatro
	url = https://github.com/AlexZGreat/Ro-Balatro
[submodule "Mods/BalatroTagPreview"]
	path = Mods/BalatroTagPreview
	url = https://github.com/JKd3vLD/BalatroTagPreview
[submodule "Mods/Taikomochi"]
	path = Mods/Taikomochi
	url = https://github.com/Amvoled/Taikomochi
[submodule "Mods/Talisman"]
	path = Mods/Talisman
	url = https://github.com/MathIsFun0/Talisman
[submodule "Mods/The-World-Ends-With-Jimbo"]
	path = Mods/The-World-Ends-With-Jimbo
	url = https://github.com/parchmentEngineer/The-World-Ends-With-Jimbo
[submodule "Mods/Trance"]
	path = Mods/Trance
	url = https://github.com/MathIsFun0/Trance
[submodule "Mods/Balatro-Stickers-Always-Shown"]
	path = Mods/Balatro-Stickers-Always-Shown
	url = https://github.com/Dimserene/Balatro-Stickers-Always-Shown
[submodule "Mods/BetterStakes"]
	path = Mods/BetterStakes
	url = https://github.com/kjossul/BetterStakes
[submodule "SDM0-s-Stuff"]
	path = SDM0-s-Stuff
	url = https://github.com/Dimserene/SDM0-s-Stuff
